body {
  min-width: 320px;
  background-color: var(--grey);
  margin: 0;
}

@font-face {
  font-family: "TTLakes-Regular";
  src: url(fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes-Medium";
  src: url(fonts/TTLakes-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes-Bold";
  src: url(fonts/TTLakes-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --dark: #1b1c21;
  --white: #ffffff;
  --d_grey: #7e7e82;
  --grey: #f8f8f8;
  --pink: #ff3e79;
  --turquoise: #41f6d7;
  --l_turquoise: #b8ffec;
}

.header__320 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
  background-color: var(--white);
  box-shadow: 0 1px 0 0 var(--l_turquoise);
}

.header__1120 {
  display: none;
}

.h1__320 {
  display: inline-flex;
  flex-shrink: 0;
  font-size: 28px;
  font-family: "TTLakes-Bold";
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 24px;
}

.h1__320::before {
  content: "";
  display: inline-flex;
  align-items: center;
  width: 4px;
  height: 40px;
  border-radius: 2px;
  background-color: var(--turquoise);
  margin-right: 12px;
}

.logo__link {
  position: fixed;
  left: 22%;
}

.menu__btn,
.menu__application,
.menu__repair {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--pink);
  border: none;
  position: relative;
  margin-left: 16px;
}

.menu__repair {
  margin-right: 16px;
}

.menu__btn1,
.menu__btn3 {
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--white);
  margin: 5px 0;
  margin-left: 5px;
}
.menu__btn2 {
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--white);
  margin: 5px 0;
  margin-left: 5px;
}

.menu__bell,
.menu__message,
.menu__profile {
  display: none;
}

@media (min-width: 768px) {
  .header__1120 {
    display: none;
  }

  .h1__320 {
    display: inline-flex;
    flex-shrink: 0;
    font-family: "TTLakes-Bold";
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 24px;
    margin-left: 0;
  }

  .h1__320::before {
    content: "";
    width: 4px;
    height: 40px;
    border-radius: 2px;
    background-color: var(--turquoise);
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
  }

  .menu__btn {
    margin-left: 24px;
  }

  .logo__link {
    position: fixed;
    left: 14%;
  }

  .menu__repair {
    margin-right: 24px;
  }

  .menu__bell,
  .menu__message,
  .menu__profile {
    display: inline-block;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--pink);
    border: none;
    position: relative;
    margin-right: 16px;
  }
}

@media (min-width: 1120px) {
  .header__1120 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__320,
  .h1__320 {
    display: none;
  }

  .h1__1120 {
    display: flex;
    flex-shrink: 0;
    font-family: "TTLakes-Bold";
    font-size: 28px;
    margin-top: 42px;
  }

  .h1__1120::before {
    content: "";
    width: 4px;
    height: 40px;
    border-radius: 2px;
    background-color: var(--turquoise);
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
  }

  .menu__application__1120,
  .menu__repair__1120 {
    display: inline;
    flex-shrink: 0;
    border: none;
    background-color: var(--grey);
    font-family: "TTLakes-Medium";
    font-size: 16px;
  }

  .menu__repair__1120 {
    margin-right: 33px;
    margin-left: 32px;
    margin-top: 26px;
  }

  .menu__repair__1120:after {
    content: "";
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--pink);
    margin-left: 9px;
    background-image: url(icons/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .menu__application__1120:after {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--pink);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 9px;
    background-image: url(icons/settings.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

nav {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
}

.nav__btn {
  flex-shrink: 0;
  padding: 8px 20px;
  border: var(--grey);
  background-color: var(--grey);
  font-family: "TTLakes-Medium";
  font-size: 16px;
  color: var(--d_grey);
}

.nav__btn--activ {
  border-radius: 6px;
  border: 2px solid var(--l_turquoise);
  background: white;
}

@media (min-width: 768px) {
  nav {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 24px;
  }
}

@media (min-width: 1120px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 33px;
  }
}

.section___text {
  font-family: "TTLakes-Regular";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0, 2px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

p {
  display: none;
}

.icons__link {
  padding-right: 8px;
}

.a__link {
  text-decoration: none;
  font-family: "TTLakes-Medium";
  font-size: 16px;
  margin-left: 16px;
  color: var(--dark);
}

.section___img {
  width: 100%;
  max-width: 360px;
  margin-top: 16px;
}

@media (min-width: 768px) {
  section {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 40px;
  }

  .section___text {
    margin-left: 0;
    margin-bottom: 0;
  }

  .section__container {
    display: block;
  }

  p {
    display: inline-block;
    margin-bottom: 10px;
  }

  .a__link {
    margin-left: 0;
  }

  .section___img {
    margin-top: 0;
  }
}

@media (min-width: 1120px) {
  section {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 28px;
  }

  .section___text {
    margin-left: 0;
    margin-bottom: 0;
    max-width: 490px;
  }

  .section__container {
    display: block;
  }

  p {
    display: inline-block;
  }

  .a__link {
    margin-left: 0;
  }

  .section___img {
    margin-top: 0;
    max-width: 532px;
  }
}
